#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.table-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

  width: 100%;
}

canvas {
  width: 100% !important;
  height: 100vh !important;
}
